{{ define "main" }}
  <article class="ph3 ph4-ns nested-copy-line-height nested-img center f6 mw8 mw9-l">
    <section class="flex-ns flex-wrap justify-center mt4">
      {{ range .RegularPages  }}
        <div class="relative w-100 measure-narrow mb3">
          <div class="mh2 h-100 bg-white">
            {{- .Render "summary" -}}
          </div>
        </div>
      {{ end }}
    </section>
    {{ range .Sections }}
    <h2 class="f3 mid-gray tc mt5">
      {{ .Title }}
    </h2>
    <section class="flex-ns flex-wrap justify-center mt4">
      {{ range .RegularPages }}
        <div class="relative w-100 measure-narrow mb3"> 
          <div class="mh2 h-100 bg-white">
            {{- .Render "summary" -}}
          </div>
        </div>
      {{ end }}
    </section>
    {{ end }}
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
  </article>
{{ end }}
