{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  {{ $currentPage := . }}
  {{ $email := split .Params.email "@" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pb5 ph3 ph4-ns mw7">
      <header class="center tc">
        {{ if not .Site.Params.disable_titles }}
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>
        {{ end }}
        {{ if or (not .Site.Params.disable_titles) (not .Params.disable_titles) }}
        <h1 class="f2 fw2 near-black">
          {{ .Title }}
        </h1>
        {{ end }}
      </header>
      <div class="nested-copy-line-height lh-copy f5 nested-img mid-gray tj">
        {{ if .Params.portrait }}
        <div class="portrait mw5 center tc relative">
          {{ with ((.Parent.Resources.ByType "image").GetMatch .Params.portrait) }}
          <img src="{{- .RelPermalink -}}" alt="{{ $currentPage.Title }} portrait"/>
          {{ end }}
          {{ with .NextInSection }}
          <div class="absolute left-0" style="top:50%; transform:translate(-200%,-50%)">
            <a href="{{ .RelPermalink }}" class="link dim black-50 f-subheadline">&lang;</a>
          </div>
          {{ end }}
          {{ with .PrevInSection }}
          <div class="absolute right-0" style="top:50%; transform:translate(200%,-50%)">
            <a href="{{ .RelPermalink }}" class="link dim black-50 f-subheadline">&rang;</a>
          </div>
          {{ end }}
        </div>
        {{ end }}
        <div class="mw5 center tc mt2">
          {{ .Summary }}
          {{ if .Params.email }}
          <p>E-Mail: {{ index $email 0 }}@[<a href="#..."]>&hellip;</a>]</p>
          {{ end }}
          {{ if .Params.weblinks }}
          <p>
          {{ range .Params.weblinks }}
            <a href="{{ .url }}">{{ .title }}</a> 
          {{ end }}
          </p>
          {{ end }}
        </div>
        {{ .Content }}
      </div>
      {{ if .Params.email }}
      <section class="cf ph3 ph5-l pv3 pv4-l tc-l center measure-wide lh-copy mid-gray"><hr>
        <p>[<a name="...">&hellip;</a>]: for emails append @{{ index $email 1 }}</p>
        </section>
      {{ end }}
      </article>
  </div>
{{ end }}
