{{ $currentPage := . }}
<div class="ph3 pb4 bg-near-white mid-gray overflow-hidden mw5">
    {{ if .Date }}
      <div class="f6">
        {{ .Date.Format "January 2, 2006" }}
      </div>
    {{ end }}
    <h1 class="f4 near-black">
      <a href="{{ .RelPermalink }}" class="link black dim">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f6 lh-copy nested-copy-line-height">
      {{ if .Params.portrait }}
      <div class="portrait mw5 center tc">
        <a href="{{ .RelPermalink }}" class="link black dim">
          {{ with ((.Parent.Resources.ByType "image").GetMatch .Params.portrait) }}
          <img src="{{- .RelPermalink -}}" alt="{{ $currentPage.Title }} portrait"/>
          {{ end }}
        </a>
        <div class="overlay pv2">{{ .Summary }}</div>
      </div>
      {{ else }}
      <div class="mw5 center tc">
        {{ .Summary  }}
      </div>
      {{ end }}
    </div>
  </div>
