{{ if .IsTranslated }}
{{ $currentPage := . }}
<h4>{{ i18n "translations" }}</h4>
<ul class="pl0 mr3">
    {{ range .Translations }}
    <li class="list f5 f4-ns fw4 dib pr3">
        <a class="{{ $currentPage.Site.Params.header_link_color_class | default "near-white hover-black-50" }} no-underline br2 ph2 pv1" href="{{ .RelPermalink }}">{{ .Lang }}</a>
    </li>
    {{ end}}
</ul>
{{ end }}
