{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  <header>
    <div class="{{ .Site.Params.header_background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" .}}
    </div>
    <div class="relative overflow-hidden">
      <img src="{{ $featured_image }}" class="w-100"/>
      <div class="tc-l pv4 pv6-l ph3 ph4-ns absolute absolute--fill flex items-center justify-center {{ .Site.Params.cover_dimming_class | default "bg-black-50" }}">
        <h1 class="f2 f1-l f3-s fw4 tc mb0 lh-title {{ .Site.Params.cover_foreground_class | default "white" }}">
          <span class="dib">{{ .Params.title_pt1 | default .Title | default .Site.Title }}</span><br/>
          {{ if .Params.title_pt2 }}<span class="dib">{{ .Params.title_pt2 }}</span>{{ end }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l near-black measure-wide-l center mt3">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
</header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.header_background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
    {{ if not .Site.Params.disable_titles }}
    <div class="center tc cf pv2 ph3 ph4-ns mw8">
      {{ if false }}
      <div class="tc-l pv3 ph3 ph4-ns">
        <h1 class="f2 f1-l fw2 silver mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
      {{ end }}
      {{ if true }}
        <h1 class="f2 fw2 near-black mb0">
          <span class="dib">{{ .Params.title_pt1 | default .Title | default .Site.Title }}</span>
          {{ if .Params.title_pt2 }}<span class="dib">{{ .Params.title_pt2 }}</span>{{ end }}
        </h1>
      {{ end }}
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
    {{end}}
  </header>
{{ end }}
