<footer class="{{ .Site.Params.header_background_color_class | default "bg-black" }} {{ .Site.Params.header_foreground_color_class | default "near-white" }} bottom-0 w-100 pa3 bt b--black-50" role="contentinfo">
  <div class="flex justify-between items-center">
  <div>
  <a class="f6 fw4 no-underline dn dib-ns pv2 ph3 {{ .Site.Params.header_link_color_class | default "near-white" }}" href="{{ .Site.Params.copyrightURL }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a></div>
    <div>{{ partial "social-follow.html" . }}</div>
    <div><a class="f6 fw4 no-underline dn dib-ns pv2 ph3 {{ .Site.Params.header_link_color_class | default "near-white" }}" href="{{ (.Site.GetPage "/imprint").RelPermalink }}">{{ i18n "imprint" }}</a></div>
</footer>
