<nav class="ph3 pt2 ph4-ns bb b--black-50 flex" role="navigation">
  <div>
    <div class="f5 f4-ns f3-l fw3 pt2 pl2">
      <a href="{{ .Site.Home.RelPermalink }}" class="{{ .Site.Params.header_link_color_class | default "near-white hover-black-50" }} no-underline dib">{{ .Site.Title }}</a>
    </div>
    <div class="flex-l justify-between items-center">
    {{ if .Site.Menus.main }}
      <ul class="pl0 mv1 mr1">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := (or ($currentPage.IsMenuCurrent "main" .) (and $currentPage.Section (eq $currentPage.Section .Identifier))) }}
        <li class="list f5 f4-l fw4 dib mv1 pv1">
          <a class="{{ $currentPage.Site.Params.header_link_color_class | default "near-white hover-black-50" }} no-underline br2 ph2 pv1{{ if $active }} {{ $currentPage.Site.Params.header_active_color_class | default "bg-white-50" }}{{ end }}" href="{{ .URL }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
    {{ partial "i18nlist.html" . }}
    </div>
  </div>
  <div style="margin-left:auto">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw3 no-underline dib {{ .Site.Params.header_link_color_class | default "near-white hover-black-50" }}">
      {{ with .Site.Params.site_logo }}
        <img src="{{ . }}" class="w100 mw5-ns ml1 mv2" alt="{{ $.Site.Title }}" />
      {{ else }}
        <!--<span class="dib">{{ .Site.Params.title_pt1 | default .Site.Title }}</span>
        <span class="dib">{{ .Site.Params.title_pt2 }}</span>-->
      {{ end }}
    </a>
  </div>
</nav>
