{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article> {{/* class="bb b--black-10" */}}
  <div class="db pv3 no-underline dark-gray">
    <div class="flex flex-column flex-row-ns items-center">
      {{ if $featured_image }}
        <div class="pr3-ns mb3 mb0-ns w-100 w-30-ns">
          {{ if .RelPermalink }}<a href="{{.RelPermalink}}" class="db">{{ end }}
              <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          {{ if .RelPermalink }}</a>{{ end }}
        </div>
      {{ end }}
      <div class="w-100{{ if $featured_image }} w-70-ns pl3-ns{{ end }}">
        <h1 class="f4 mt0 lh-title">
          {{ if .RelPermalink }}<a href="{{.RelPermalink}}" class="color-inherit dim link">
            {{ .Title }}
            </a>
          {{ else }}
            {{ .Title }}
          {{ end }}
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links tj">
          {{ .Summary }}
        </div>
          <!--<a href="{{.RelPermalink}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>-->
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
      </div>
    </div>
  </div>
</article>
