<div class="relative w-100 bg-white nested-copy-line-height">
  <div class="bg-near-white ph3 pb4 gray overflow-hidden">
    <!--<span class="f6 db">{{ humanize .Section }}</span>-->
    <h1 class="f4 near-black">
      {{ if .RelPermalink }}
      <a href="{{ .RelPermalink }}" class="link black dim">
        {{ .Title }}
      </a>
      {{ else }}
        {{ .Title }}
      {{ end }}
    </h1>
    <div class="nested-links f5 lh-copy nested-copy-line-height tj">
      {{ .Summary  }}
    </div>
  </div>
</div>
