{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 mw9-l center">
    <article class="center cf pb5 ph3 ph4-ns">
      {{ if not .Site.Params.disable_titles }}
      <header class="center tc">
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f2 fw2 near-black">
          {{ .Title }}
        </h1>
      </header>
      {{ end }}
      <div class="nested-copy-line-height lh-copy f6 nested-links nested-img mid-gray tj">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
