/* global style */
.background-img {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("/background.jpg");
}

.hyphenate {
    word-wrap: break-word;
    overflow-wrap: break-word;

    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

.measure-xwide { max-width: 40em; }
.mh-50 { max-height: 50vh; }
.mh-70 { max-height: 70vh; }

/* styling of bibliography page */
.bibliography li { margin-bottom: 15px; list-style-type: none; }
.bibliography span.title { font-weight: bold; font-size: 120%; display: block; }
.bibliography span.author { font-style: italic; display: block; }
.bibliography span.volume { font-weight: bold; }
.bibliography p.abstract { font-size: small; }

/* hover effect on teams page */
.portrait { 
    position: relative; 
}
.portrait img { 
    max-width: 16rem; 
}
.portrait:hover .overlay { opacity: 0.8; }
@media (hover:none) {
    .portrait .overlay { opacity: 0.8; }
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    //top: 0;
    bottom: 0;
    //height: 50%;
    opacity: 0;
    transition: .3s ease;
    background-color: #ffffff;
    pointer-events: none;
}
.overlay a { pointer-events: initial; }