{{ define "main" }}
  <article class="ph3 ph4-ns ph5-l nested-copy-line-height nested-img mw8 mw9-l center">
    {{ if .Content }}
    <section class="cf pv3 f5 tj center lh-copy mid-gray measure-xwide">
      {{- .Content -}}
    </section>
    {{ end }}
    <section class="flex-ns flex-column flex-wrap justify-center items-center">
      {{ range .Paginator.Pages }}
        <div class="mb3 ph3 bg-near-white">
          {{- partial "summary-with-image.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
