{{ $.Scratch.Add "width" (.Get "width" | default "500px") }}
{{ $.Scratch.Add "height" (.Get "height" | default "300px") }}
{{ $.Scratch.Add "interval" (.Get "auto-slide" | default "0") }}


<!-- Gallery -->
<div id="container">
    <header>
        <h1>Animated Photo Banner</h1>
        <p>Lorem ipsum dolor...</p>
   </header>

    <div id="banner">
        {{- with (.Get "dir") -}} 
            {{- $files := readDir (print "/static/" .) }} 
            {{- range $file_id, $file_val := $files -}} 
                {{- $absoluteUrl := print ($.Get "dir") "/" .Name | absURL }}
                <img src="{{- $absoluteUrl }}" {{ if eq $file_id 0 }}class="first"{{ end }} />
            {{- end }} 
        {{- end }}
    </div>
</div>

<style> 
* {margin: 0; padding: 0; }

 #container {
  width: 1000px;
  overflow: hidden;
  margin: 50px auto;
  background: white;
 }

 .banner {
  height: 400px;
  width: 2000px;
  margin-bottom: 80px;
}

header {
 width: 800px;
 margin: 40px auto;
}
 
header h1 {
 text-align: center;
 font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
 
}
 
header p {
 font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
 text-align: justify;
}

</style>