{{ define "main" }}
  <article class="ph3 ph4-ns nested-copy-line-height nested-img mw8 mw9-l center">
    {{ if .Content }}
    <section class="cf ph3 ph5-l pt3 pt4-l f5 tj center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
    {{ end }}
    <section class="flex-ns flex-wrap justify-center mt4">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-30-l measure-wide measure-l mb3 mh3 bg-near-white">
          {{- partial "summary.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
